
.project
.settings/org.eclipse.core.resources.prefs
.idea

/modules
/coldbox
/testbox
settings.xml
/tests/results/coverageReport



/tests/resources/**
!/tests/resources/*/
!/tests/resources/**lucee-server.xml
!/tests/resources/**lucee-web.xml.cfm
!/tests/resources/**railo-server.xml
!/tests/resources/**railo-web.xml.cfm
!/tests/resources/**/lib/neo-*.xml
!/tests/resources/**/lib/jetty.xml
!/tests/resources/**/lib/seed.properties
!/tests/resources/**/lib/license.properties
!/tests/resources/**/lib/password.properties
!/tests/resources/**/bin/cf-init.sh
!/tests/resources/.CFConfig.json
!/tests/resources/.CFConfig2.json
!/tests/resources/**/server.json
