*
!/.gitignore
!*/
!lucee-server.xml
!lucee-web.xml.cfm
!railo-server.xml
!railo-web.xml.cfm
!**/lib/neo-*.xml
!**/lib/jetty.xml
!**/lib/seed.properties
!**/lib/license.properties
!**/lib/password.properties
!**/bin/cf-init.sh
!.CFConfig.json
!**/server.json
